// Footer
footer.site-footer
	div.site-footer__top
		.container
			div.site-footer__top-row.row.align-items-center
				.col
					| Шакпа футера

	div.site-footer__bottom
		.container
			div.site-footer__bottom-row.row.align-items-center
				.col
					| Футер футера