@charset "UTF-8";

/* Body styles */

body {
  background: red;
}

/* Цвета */

/* Container */

.container {
  max-width: 1170px !important;
}

/* Центовка */

/* Hidden/Visible */

.visible--sm {
  display: none;
}

.visible--md {
  display: none;
}

.visible--lg {
  display: none;
}

.visible--xl {
  display: none;
}

/* Row */

/* Паддинг */

/* Марджин */

/* Header */

/* content */

/* Footer */

@media (min-width: 1200px) {
  .hidden--xl {
    display: none !important;
  }

  .visible--xl {
    display: block !important;
  }
}

@media (max-width: 575px) {
  .hidden--sm {
    display: none !important;
  }

  .visible--sm {
    display: block !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .hidden--md {
    display: none !important;
  }

  .visible--md {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden--lg {
    display: none !important;
  }

  .visible--lg {
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden--xl {
    display: none !important;
  }

  .visible--xl {
    display: block !important;
  }
}