/* Main styles */

/* Margin */

.margin--b-10 {
  margin-bottom: 10px;
}

/* Margin */

.padding--x-10 {
  padding: 0 10px;
}

.padding--y-20 {
  padding: 20px 0;
}

/* Dropdown */

/* Badge */

/* Btn */

/* Grop */

/* Input */

/* Checkbox */

/* Radio */

/* Label */

/* Switch */

/* Post */

/* Product */

/* Section */

/* Section advantage */

/* Header */

/* Main */

/* Sidebar */

/* Footer */