doctype html
html
    head
        include ../includes/parts/head
    body
        include ../includes/parts/header
        
        include ../includes/parts/main

        include ../includes/parts/footer