//- Подключаем родительский шаблон
extends ../section-temp

//- Подключаем все переменные
block sectionVariables
    include _pug/_pug-variables/_pug-variables

block sectionContent 

    //- Подключаем модель товара и дублируем
    include ../../products/product-grid/product-grid-model
    - var productColNumber = '3'
    .row
        div(class="col-" + productColNumber)
            +productGridModul('tigran', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, architecto.')
        div(class="col-" + productColNumber)
            +productGridModul('tigran', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, architecto.')
        div(class="col-" + productColNumber)
            +productGridModul('tigran', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, architecto.')

block sectionFooter
    | Футре сексции