//- Import all pug componnents

include ../componnents/link/link

include ../componnents/main-parts/head/head
include ../componnents/main-parts/header/header
include ../componnents/main-parts/main/main
include ../componnents/main-parts/footer/footer
include ../componnents/main-parts/scripts/scripts