// Header
header.site-header
	div.site-header__top
		.container
			div.site-header__top-row.row.align-items-center
				.col
					| Шапка шапки

	div.site-header__bottom
		.container
			div.site-header__bottom-row.row.align-items-center
				.col
					| Футер шапки