//- Уникальные классы для страничек
block bodyClassesArray

doctype html
html
    head
        //- Head
        include ../componnents/main-parts/head/head
    body(class=bodyClassesArray)
        
        //- Шапка
        include ../componnents/main-parts/header/header

        //- Контент
        include ../componnents/main-parts/main/main

        //- Футер
        include ../componnents/main-parts/footer/footer

        //- Скрипты
        include ../componnents/main-parts/scripts/scripts