// Размер между колонками для разных рашнерений

// 1: Размер отступа,
// 2: [
// 	sm: max-width (575px)
// 	md: max-width (767px)
// 	lg: max-width (991px)
// 	xl: max-width (1199px)
// 	Новое значение
// ]

@mixin rowSizeResponsive($rowSize, $breakpoint) {
	@if map-has-key($layoutBreakpoint, $breakpoint) {
		$breakpointValue: map-get($layoutBreakpoint, $breakpoint);

		@media (max-width: $breakpointValue){
			.row--#{$breakpoint}-#{$rowSize}{
				margin: 0 -#{$rowSize}px;

				&>div{
					padding: 0 #{$rowSize}px;
				}
			}
		}
	}
	@else{
		@media (max-width: #{$breakpoint}px) {
			.row--#{$breakpoint}-#{$rowSize}{
				margin: 0 -#{$rowSize}px;

				&>div{
					padding: 0 #{$rowSize}px;
				}
			}
		}
	}
}