// Cols indent y generator
@mixin rowYIndent ($size, $breakpoint:'') {
	.row--y-indent-#{$size}{
		margin-bottom: -#{$size}px;

		&>div{
			padding-bottom: #{$size}px;
		}
	}
	
	// Mobile
	@if $breakpoint != ''{
		@if map-has-key($layoutBreakpoint, $breakpoint) {
			$breakpointValue: map-get($layoutBreakpoint, $breakpoint);

			@media (max-width: $breakpointValue){
				.row--y-indent-#{$size}-#{$breakpoint}{
					margin-bottom: -#{$size}px;

					&>div{
						padding-bottom: #{$size}px;
					}
				}
			}
		}
		@else{
			@media (max-width: #{$breakpoint}px) {
				.row--y-indent-#{$size}-#{$breakpoint}{
					margin-bottom: -#{$size}px;

					&>div{
						padding-bottom: #{$size}px;
					}
				}
			}
		}
	}
}
