// Cols x indent generator
@mixin rowXIndent ($size, $breakpoint:'') {
	// Mobile
	@if $breakpoint != ''{
		@if map-has-key($layoutBreakpoint, $breakpoint) {
			$breakpointValue: map-get($layoutBreakpoint, $breakpoint);

			@media (max-width: $breakpointValue){
				.row--x-indent-#{$size}-#{$breakpoint}{
					margin-left: -#{$size}px;
					margin-right: -#{$size}px;

					&>div{
						padding-left: #{$size}px;
						padding-right: #{$size}px;
					}
				}
			}
		}
		@else{
			@media (max-width: #{$breakpoint}px) {
				.row--x-indent-#{$size}-#{$breakpoint}{
					margin-left: -#{$size}px;
					margin-right: -#{$size}px;

					&>div{
						padding-left: #{$size}px;
						padding-right: #{$size}px;
					}
				}
			}
		}
	}

	@else{
		.row--x-indent-#{$size}{
			margin-left: -#{$size}px;
			margin-right: -#{$size}px;

			&>div{
				padding-left: #{$size}px;
				padding-right: #{$size}px;
			}
		}
	}
}
