$preffixSiteHeader: 'site-header';
$preffixSiteFooter: 'site-footer';
$preffixSiteMain: 'site-main';
$preffixProduct: 'product';
$preffixSection: 'section';
$preffixSiteHeader: 'site-header';
$preffixSiteFooter: 'site-footer';
$preffixSiteMain: 'site-main';
$preffixProduct: 'product';
$preffixSection: 'section';
$preffixBlockActionsVisible: 'visible';
$preffixBlockActionsHidden: 'hidde';
