// Padding construct
@mixin padding ($direction, $size, $mediaScreen:''){
	.padding{

		@if $direction == 'bottom' {
            @if $mediaScreen != '' {
                @media (max-width: #{$mediaScreen}px) {
                    &--b-#{$size}-#{$mediaScreen}{
                        padding-bottom: #{$size}px;
                    }
                }
            }
            @else{
                &--b-#{$size}{
                    padding-bottom: #{$size}px;
                }
            }
		}

		@if $direction == 'top' {
            @if $mediaScreen != '' {
                @media (max-width: #{$mediaScreen}px) {
                    &--top-#{$size}-#{$mediaScreen}{
                        padding-top: #{$size}px;
                    }
                }
            }
            @else{
                &--top-#{$size}{
                    padding-top: #{$size}px;
                }
            }
		}

		@if $direction == 'left' {
            @if $mediaScreen != '' {
                @media (max-width: #{$mediaScreen}px) {
                    &--left-#{$size}-#{$mediaScreen}{
                        padding-left: #{$size}px;
                    }
                }
            }
            @else{
                &--left-#{$size}{
                    padding-left: #{$size}px;
                }
            }
		}

		@if $direction == 'right' {
			@if $mediaScreen != '' {
                @media (max-width: #{$mediaScreen}px) {
                    &--right-#{$size}-#{$mediaScreen}{
                        padding-right: #{$size}px;
                    }
                }
            }
            @else{
                &--right-#{$size}{
                    padding-right: #{$size}px;
                }
            }
		}

		@if $direction == 'x' {
			@if $mediaScreen != '' {
                @media (max-width: #{$mediaScreen}px) {
                    &--x-#{$size}-#{$mediaScreen}{
                        padding:0 #{$size}px;
                    }
                }
            }
            @else{
                &--x-#{$size}{
                    padding:0 #{$size}px;
                }
            }
		}

		@if $direction == 'y' {
			@if $mediaScreen != '' {
                @media (max-width: #{$mediaScreen}px) {
                    &--y-#{$size}-#{$mediaScreen}{
                        padding: #{$size}px 0;
                    }
                }
            }
            @else{
                &--y-#{$size}{
                    padding: #{$size}px 0;
                }
            }
		}
	}
}
