// Центровка элементов по горизантали и по вертикали через флекс
@mixin itemFullCenter ($inline:'') {
	@if $inline == inline { display: inline-flex; }
	@else { display: flex; }
	align-items: center;
	justify-content: center;
}