/* Form checkbox */
.form__radio{
	&-input{
		display: none;

		&:checked{
			& + label{
				&:before{
					// Background iamge
					background: red;
					border-color: red;
				}
			}
		}
	}

	&-label{
		position: relative;
		padding-left: 35px;
		cursor: pointer;

		&:before{
			content: '';
			width: 25px;
			height: 25px;
			border:1px solid red;
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			transition: .3s;
			margin-top: -12px;
			border-radius: 50%;
		}
	}
}