extends page-temps/index

//- Boy classes
block bodyClassesArray
    - var bodyClassesArray = ['page-class']

//- Page title
block pageTitle 
    title Home page

//- Content
block siteMain

    img(src="images/icon.svg", alt="")