//- Подключаем родительский шаблон
extends page-temps/main-temp

//- Уникальные классы для боди
block bodyClassesArray
    - var bodyClassesArray = ['page-class']

//- Загаловок страницы
block pageTitle 
    title Home page

//- Контент
block siteMain

    // Назвсние секции
    include componnents/sections/_section-name/_section-name


    .hidden-sm "asdasd"